.main-nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:3.5rem;
    padding:0 1rem;
    background:#01d1d1;
    display:flex;
    align-items:center;
    z-index: 1;
}
.main-nav_logo{
    display: flex;
    flex: auto;
}
.main-nav_logo h1{
    margin: 0;
    font-size:1.5rem;
}
.main-nav_items{
    margin-left: 1.5rem;
}
.main-nav_items ul{
    display:flex;
    list-style: none;
    margin: 0;
    padding:0;
    padding-right: 2rem;
}
.main-nav_items li{
    margin: 0 1rem;
}
.main-nav_items li:last-child{
    margin: 0 1rem;
}
.main-nav_items a , .main-nav_items button{
    text-decoration: none;
    color:#000;
    border:none;
    font:inherit;
    background: transparent;
    cursor: pointer;
    outline:none;
}
.main-nav_items a:hover, .main-nav_items a:active,.main-nav_items button:focus,.main-nav_items button:active{
    color:#337ab7;
}
.main-nav_items a.active{
    color:#337ab7;
}
